configuration {
 modi: "window,drun,ssh,combi";
 font: "FiraCode Nerd Font Mono 12";
 combi-modi: "window,drun,ssh";
 kb-accept-entry: "KP_Enter,Return";
 kb-remove-to-eol: "";
 kb-row-up: "Control+k";
 kb-row-down: "Control+j";
}

window {
	width: 40%;
	height: 500px;
}

@theme "~/.config/rofi/spotlight.rasi"
